Campy.GraphAlgorithms/obj/
Campy.Graphs/obj/
Campy.LCFG/obj/
Campy.MCFG/obj/
Campy.Types.Utils/obj/
Campy.Utils/obj/
ConsoleApp4/obj/
ConsoleApp4/bin/
packages/
Campy.GraphAlgorithms/bin/
.vs/
Campy.Graphs/bin/
Campy.LCFG/bin/
Campy.MCFG/bin/
Campy.Types.Utils/bin/
Campy.Utils/bin/
Campy/obj/
Campy/bin/
Campy.Types/obj/
Campy.Types/bin/
*.nupkg
UnitTestProject1/bin/
UnitTestProject1/obj/
UnitTestProject2/bin/
UnitTestProject2/obj/
UnitTestProject3/bin/
UnitTestProject3/obj/
UnitTestProject4/bin/
UnitTestProject4/obj/
UnitTestProject5/bin/
UnitTestProject5/obj/
UnitTestProject6/bin/
UnitTestProject6/obj/
UnitTestProject7/bin/
UnitTestProject7/obj/
Campy.Compiler/bin/
Campy.Compiler/obj/
UnitTestProject8/bin/
UnitTestProject8/obj/
