<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NET.Test.Sdk" version="15.3.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.3.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="swigged.cuda" version="9.0.0" targetFramework="net461" />
  <package id="swigged.llvm" version="5.0.2" targetFramework="net461" />
</packages>